:root {
  --background-color: #1f1f27;
  --background-color-hover: #2f2f37;
  --background-color-active: #3f3f47;

  --background-color-darker: #17171f;
  --background-color-lighter: #27272f;

  --text-color: white;
  --text-color-disabled: #afafaf;

  --accent-background-color: #002fff;
  --accent-background-color-hover: #0023bc;
  --accent-background-color-active: #001ea2;

  --accent-text-color: white;

  --error-color: #cf0000;

  --border-color: #4a4c4f;
  --standard-border: 1px solid var(--border-color);
  --focus-border-color: #6a6c6f;
  --focus-border: 1px solid var(--focus-border-color);
  --error-border-color: var(--error-color);
  --error-border: 1px solid var(--error-border-color);
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 8px;

  --standard-label-size: 0.9em;

  --shadow: 0 0 16px #7f7f7f4f !important;

  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  --form-padding: 12px 0;

  --text-input-background-color: var(--background-color-darker);
  --text-input-text-color: var(--text-color);
  --text-input-text-color-disabled: var(--text-color-disabled);
  --text-input-border-radius: var(--border-radius-medium);

  --downloader-max-width: 600px;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.4);
  border-radius: 100vmin;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: rgba(127, 127, 127, 0.5);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
}

.button {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
  border-radius: 100vw;
  border: none;
  padding: 4px 16px;
  font-size: 0.9em;
  outline: none;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-background-color-hover);
}

.button:active {
  background-color: var(--accent-background-color-active);
}

.primary {
  background-color: var(--accent-background-color) !important;
  color: var(--accent-text-color) !important;
  transition: background-color 0.2s ease;
}

.primary:hover {
  background-color: var(--accent-background-color-hover) !important;
}

.primary:active {
  background-color: var(--accent-background-color-active) !important;
}

.primary:disabled {
  background-color: var(--accent-background-color) !important;
  opacity: 0.5 !important;
  cursor: initial !important;
}

.secondary {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.2s ease;
}

.secondary:hover {
  background-color: var(--background-color-hover) !important;
}

.secondary:active {
  background-color: var(--background-color-active) !important;
}

.secondary:disabled {
  background-color: var(--background-color) !important;
  opacity: 0.5 !important;
  cursor: initial !important;
}

.control-error {
  color: var(--error-color);
  font-size: 0.9em;
}

.text-input-container {
  padding: var(--form-padding);
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.text-input {
  background-color: var(--text-input-background-color);
  color: var(--text-input-text-color);
  padding: 6px 7px;
  border: var(--standard-border);
  border-radius: var(--text-input-border-radius);
  outline: none;
  transition: border 0.1s ease;
}

.text-input:focus {
  border: var(--focus-border);
}

/* .text-input-invalid,
.text-input-invalid:focus {
  border: var(--error-border);
} */

.text-input-container-disabled .text-input {
  color: var(--text-input-text-color-disabled);
}

.text-input-label {
  color: var(--text-color);
  font-size: var(--standard-label-size);
}

.text-input-container-disabled .text-input-label {
  color: var(--text-color-disabled);
}

.required-mark {
  color: var(--error-color);
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-color);
}

.icon svg {
  width: 16px;
  height: 16px;
}

.icon-button {
  width: 24px;
  height: 24px;
  background-color: rgba(127, 127, 127, 0);
  border-radius: 100vw;
  border: none;
  outline: none;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  background-color: rgba(127, 127, 127, 0.3);
}

.icon-button:active {
  background-color: rgba(127, 127, 127, 0.4);
}

.icon-button:disabled {
  background-color: rgba(127, 127, 127, 0);
  opacity: 0.5;
  cursor: initial;
}

.icon-button .icon {
  pointer-events: none;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 16px;
}

.loading-spinner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.loading-spinner-text {
  text-align: center;
}

.loading-spinner {
  animation: spinner-rotate 1s linear infinite;
}

.loading-spinner-small {
  width: 25px;
  height: 25px;
}

.loading-spinner-medium {
  width: 40px;
  height: 40px;
}

.loading-spinner-large {
  width: 60px;
  height: 60px;
}

.loading-spinner-max {
  width: unset;
  height: unset;
}

.loading-spinner .spinner-path {
  stroke: #2851ff;
  stroke-linecap: round;
  animation: spinner-dash-dynamic 1.5s ease-in-out infinite;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash-simple {
  0% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
}

@keyframes spinner-dash-dynamic {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.error-description {
  text-align: center;
}

.error-message {
  text-align: center;
  color: var(--error-color);
  font-family: monospace;
}

.dep-fetch-status-pending {
  flex-grow: 1;
}

.dep-fetch-status-failed {
  flex-grow: 1;
}

.downloader-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}

.downloader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: var(--downloader-max-width);
}

.downloader-title {
  text-align: center;
}

.content-type-selector-container {
  padding: var(--form-padding);
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.content-type-selector-label {
  color: var(--text-color);
  font-size: var(--standard-label-size);
}

.content-type-selector {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.content-type-selector-option {
  flex: 1;
  text-align: center;
  padding: 4px 12px;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--background-color-lighter);
  transition: background-color 0.2s ease;
}

.content-type-selector-option:first-child {
  border-radius: 100vmax 0px 0px 100vmax;
}

.content-type-selector-option:last-child {
  border-radius: 0px 100vmax 100vmax 0px;
}

.content-type-selector-option-selected {
  background-color: var(--accent-background-color);
}

.output-directory-selector-container {
  padding: var(--form-padding);
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.output-directory-selector-label {
  color: var(--text-color);
  font-size: var(--standard-label-size);
}

.output-directory-selector {
  display: flex;
  flex-direction: row;
}

.output-directory-selector-display {
  font-size: 0.9em;
  flex-grow: 1;
  border: var(--standard-border);
  border-right: 0;
  border-radius: var(--border-radius-medium) 0px 0px var(--border-radius-medium);
  padding: 6px 7px;
  display: flex;
  align-items: center;
  color: #ccc;
}

.output-directory-selector-button {
  flex-grow: 0;
  padding: 6px 12px;
  border-radius: 0px var(--border-radius-medium) var(--border-radius-medium) 0px;
  cursor: pointer;
}

input[type="file"].output-directory-selector-input {
  display: none;
}

.download-button-container {
  display: flex;
  padding: var(--form-padding);
}

.download-button {
  flex-grow: 1;
  font-size: 1.125em;
}

.download-status {
  font-size: 0.9em;
}
